In [ ]:
#need to pip install transformers
#import torch
#import loader
#import bert_encoder
import recommender
f1='ml-20m//movies.csv'
f2='ml-20m//ratings.csv'
f3='ml-20m//genome-scores.csv'
f4='ml-20m//genome-tags.csv'
f5='ml-20m//tags.csv'
data=recommender.movie_lens_data(f1,f2,f3,f4,f5, truncate=True)  #defaults to truncating movie data set. .movie_lens_data(f1,f2,f3,f4,f5,False) for entire data set

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
C:\Users\rober\Dropbox\GeorgiaTech\CS7643_DeepLearning\group_project\CS7643_proj\CS7643_proj\code\Rob\recommender.py:43: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  generes=generes.str.replace('|',' ')  #removing the "|" seperator

In [ ]:
data.bert_tokenize()

In [ ]:
recommendations = data.get_recommendations_by_title('Toy Story (1995)')
print(recommendations)

['Balto (1995)', 'Jumanji (1995)', 'Tom and Huck (1995)', 'Kids of the Round Table (1995)', 'White Squall (1996)']

In [18]:
user_keywords = "murder bloody"


recommendations = data.get_recommendations_by_keyword_bert_tfidf(user_keywords, num_recommendations=5, bert_weight=.5, tfidf_weight=.5)
print(recommendations)

recommendations = data.get_recommendations_by_keyword_bert_tfidf(user_keywords, num_recommendations=5, bert_weight=.5, tfidf_weight=.5, w_ratings=False)
print(recommendations)

['GoldenEye (1995)', 'Copycat (1995)', 'Dead Man Walking (1995)', 'Seven (a.k.a. Se7en) (1995)', 'From Dusk Till Dawn (1996)']
['GoldenEye (1995)', 'Copycat (1995)', 'Dead Man Walking (1995)', 'Seven (a.k.a. Se7en) (1995)', 'From Dusk Till Dawn (1996)']

After the above is executed, the following data frames are available

movie: contains 27278 unique movies with columns "movieID, title, genres"  (moviedID is unique for each row

ratings: contain 20,000,262 ratings with columns "userId movieId rating" the ratings range from .5-5. Each userID/movieId is unique

genome_scores: contain 11,709,767 unique rows with columns 'movieId, tagId, relevance'.  "relevance" represents the importance of the tag      to the movie, with higher scores indicating greater relevance.  movies with similar tag relevance scores may be more likely to be        recommended to a user who has rated one of those movies highly
genome_tags: 1127 different types of tags placed on a movie columns "tagId, tag".  Each row is unique

tags: 465,564 rows with columns "userId, movieId, tag, timestamp". The combination userId-movieId-tag is unique

In [3]:
 # get the top N tags with the highest relevance scores
num_tags=10
tag_scores = data.genome_scores.groupby('tagId').agg({'relevance': 'mean'})
top_tags = tag_scores.sort_values('relevance', ascending=False)[:num_tags]

In [15]:
data.movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
95,97,"Hate (Haine, La) (1995)",Crime|Drama
96,98,Shopping (1994),Action|Thriller
97,99,Heidi Fleiss: Hollywood Madam (1995),Documentary
98,100,City Hall (1996),Drama|Thriller
99,101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
95,97,"Hate (Haine, La) (1995)",Crime|Drama
96,98,Shopping (1994),Action|Thriller
97,99,Heidi Fleiss: Hollywood Madam (1995),Documentary
98,100,City Hall (1996),Drama|Thriller
99,101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance

In [3]:
#a movie can have multiple genres.  To put the genres of the 10 movie in the data frame in a list do this
genres = data.movies.loc[10, 'genres']
print(genres.split("|"))

['Comedy', 'Drama', 'Romance']

Now encode data using the bert encoder. initialize the bert_encoder with a dataframe and then the column of the data frame you want to tokenize.
The bert_tokenize method is just using the movies data frame.  It concatenates the movie name and genres for the embeddings.
None of the other csv's are being used.

In [4]:
data.bert_tokenize()  #optional parameter batch_size default is 32

In [5]:
selected_title = 'Grumpier Old Men (1995)'   #selected title must be of this specific format
suggestions = data.get_recommendations(selected_title)

In [6]:
suggestions

['Angels and Insects (1995)',
 'Bed of Roses (1996)',
 'Sense and Sensibility (1995)',
 'Two if by Sea (1996)',
 'Beautiful Girls (1996)']

In [7]:
print(data.movies[data.movies['title'] == selected_title])
print(data.movies[data.movies['title'] == suggestions[0]])
print(data.movies[data.movies['title'] == suggestions[1]])
print(data.movies[data.movies['title'] == suggestions[2]])
print(data.movies[data.movies['title'] == suggestions[3]])
print(data.movies[data.movies['title'] == suggestions[4]])

   movieId                    title          genres
2        3  Grumpier Old Men (1995)  Comedy|Romance
    movieId                      title         genres
84       85  Angels and Insects (1995)  Drama|Romance
    movieId                title         genres
73       74  Bed of Roses (1996)  Drama|Romance
    movieId                         title         genres
16       17  Sense and Sensibility (1995)  Drama|Romance
    movieId                 title          genres
63       64  Two if by Sea (1996)  Comedy|Romance
    movieId                   title                genres
92       94  Beautiful Girls (1996)  Comedy|Drama|Romance